<div id="<%= dom_id meeting %>">
  <p>
    <strong>Datetime:</strong>
    <%= meeting.datetime %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= meeting.host %>
  </p>

  <p>
    <strong>Reocurring:</strong>
    <%= meeting.reocurring %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= meeting.frequency %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= meeting.group_id %>
  </p>

</div>
