<div id="<%= dom_id reading %>">
  <div class='reading-container container-fluid p-0 shadow-sm pb-5 position-relative'>
    <div class="jumbotron text-bg-light py-5">
      <div class="container">
        <div class="d-flex">
          <div class="w-100 position-relative">
            <% unless reading.meetingUrl.blank? %>
            <div class="position-absolute top-0 end-0 mt-2 mx-4">
              <a class="btn btn-lg btn-primary mt-0 d-none d-md-block align-top" href="<%= reading.meetingUrl %>">   <i class="bi bi-camera-video-fill pe-3 "></i> Join With Zoom </a>
            </div>
            <% end %>
            <h1 class="display-3 fw-bold"><%= reading.meetingName %></h1>
            <h3 class="display-4 fw-semibold"> Meeting Reading </h3>
            <h3 class="display-5"> <span class="pr-1 "><%= reading.meetingDate.strftime("%B %d, %Y") %></span><span class="fw-lighter"><%= local_time(reading.meetingTime).to_time.strftime("%l:%M %p").sub(':00', '') %></span></h3>

            <% unless reading.meetingUrl.blank? %>
            <div class="d-flex">
              <a class="btn btn-primary mt-5 w-100 d-md-none " href="<%= reading.meetingUrl %>">   <i class="bi bi-camera-video-fill pe-3 "></i> Join With Zoom </a>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <div class="container pt-4">
      <figure>
        <h1 class="fw-bold mb-4 tracking-widest text-uppercase"><%= reading.title %></h1>
        
        <blockquote class="blockquote">
          <p>
            <%= reading.content.body.to_html.html_safe %>
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="<%= reading.title %>" class=" fs-3"><%= reading.source %></cite>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="container-fluid  p-0  example-topics z-n1">
    <div class="jumbotron text-bg-light py-5">
      <div class="container">
        <h2 class="text-center display-5 pb-3 fw-bold text-uppercase">Example Topics For Sharing</h2>
        <h3 class="mb-2 text-body-secondary text-center fs-3 tracking-widest"><em>Feel free to check in!</em></h3>
        <div class="bg-white rounded-5 py-5 mt-4 shadow-sm">
          <ul class="list-unstyled li-questions ">
            <%= reading.topic %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

