<div class='container-fluid p-0'>
  <div class="jumbotron text-bg-light p-5">
    <div class="container">
      <div class="d-flex">
        <span class="flex-fill text-center py-5">
          <h1 class="display-1 fw-bolder">Reading Archive</h1>
          <h4 class="display-6">
            An index of the meeting readings and topics.
          </h4>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container pt-3">
  <div class="row justify-content-center reading-index" id="readings">
    <div class="col-md-10 col-lg-8 col-xl-7 pt-5">
      <% @readings.each do |reading| %>
        <div class="col reading position-relative mb-5">
          <div class="h-100">
            <div class=" ">
              <%= link_to reading, class: "text-decoration-none link-dark link-opacity-50-hover" do %>
                <h3 class="display-6 fw-normal" ><%= reading.title %></h3>
              <% end %>
              <div class="pt-3">
                <blockquote class="blockquote pb-2">
                  <%= reading.content.to_plain_text.truncate(260, separator: ' ') %>
                </blockquote>
              </div>
            </div>
            <div class=" mt-auto">
              <div class="row ">
                <div class="col">
                  <cite title="<%= reading.source %>">- <%= reading.source.truncate(36) %></cite>
                </div>
                <div class="col-3 text-end me-3">
                  <span class="fw-bolder text-nowrap"><%= reading.meetingDate.strftime("%b-%d-%y") %></span>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<p style="color: green"><%= notice %></p>