<%= form_with(model: topic) do |form| %>
  <% if topic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
        <% topic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.text_field :title, class: "display-4 w-100 border-0 bg-light" %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn btn-primary w-100" %>
  </div>
<% end %>
