<div id="<%= dom_id topic %>" class="col">
  <div class="card my-5 mx-3 position-relative">
    <h1><span class="position-absolute top-0 start-0 translate-middle badge bg-jumbo-purple"><span class="fw-light">#</span><%= topic.searchable_number %></span></h1>
      <div class="position-absolute top-0 end-0 m-2">
        <input type="text" value="#<%= topic.searchable_number %>: <%= topic.title %>" id="topic_<%= topic.id %>_copy" class="d-none">
        <% if user_signed_in? && current_user.email == "coltonhagan@gmail.com" %><%= link_to edit_topic_path(topic), class: "btn btn-outline-info" do %> <i class="bi bi-pencil"></i> <% end %><% end %>
        <button onclick="myFunction<%= topic.searchable_number %>()" id="topic_<%= topic.id %>_copy_btn" class="btn btn-outline-secondary"><i class="bi bi-clipboard" id="topic_<%= topic.id %>_copy_btn_icon"></i></button> 
      </div>
    <div class="p-5">
      <h1 class="display-4"><span class="fw-bold"></span> <%= topic.title %></h1>
    </div>
  </div>

</div>
<script type="text/javascript">
function myFunction<%= topic.searchable_number %>() {
  // Get the text field
  var copyText = document.getElementById("topic_<%= topic.id %>_copy");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
  navigator.clipboard.writeText('#<%= topic.searchable_number %>: <%= topic.title %>')

  // Alert the copied text
  var element = document.getElementById("topic_<%= topic.id %>_copy_btn");
  element.classList.remove('btn-outline-secondary');
  element.classList.add('btn-success');

} 
</script>