<style type="text/css">
  body{
    background-color: rgb(248, 249, 250);
  }

</style>
<%- content_for(:page_title, "HMBLEBOT | THE TOPICIFICATOR 9000") %>
<div class="container-fluid <% if user_signed_in? %>bg-info<% end %>  bg-jumbo-blue-light border-bottom shadow-sm">
  <div class="container py-0 ">
    <div class="row">
      <div class="col-lg-11 col-md-12 mx-auto py-5 px-4  px-lg-5 bg-jumbo-blue-dark">
        <div class="py-3">
          <h1 class="display-3 text-light" id="animateMe"> 
            <span class="text-blue-light tracking-wide fw-semibold">
              THE
            </span>
            <span class="tracking-widest fw-light"> 
              TOPICIFICATOR
            </span>
            <span class="fw-light tracking-tighter text-blue-light ms-0"> 
              9000
            </span> 
          </h1>
          <h3 class="display-6 text-light"><%= @all_topics.count %> Topics And Counting</h3>
          <br/>
          <%= search_form_for @q do |f| %>
            <div class="input-group input-group-lg mb-3">
              <%= f.search_field :searchable_number_eq, placeholder: "Number Search", class: "form-control" %>
              <%= f.search_field :title_or_subtitle_cont, placeholder: "Word Search", class: "form-control" %>
              <%= f.submit "Search", class: 'btn bg-jumbo-blue-light text-blue-dark' %>
            </div>
          <% end %>
          <%= search_form_for @q do |f| %>
              <%= f.hidden_field :searchable_number_eq, value: @random.to_s %>
              <div class="d-grid gap-2 col-lg-6 mx-auto mt-5">
                <%= f.button :submit, class: 'btn btn-lg bg-jumbo-purple p-3 text-light' do %>
                  <i class="bi bi-shuffle"></i> <span class="display-6 p-4"> Random </span><i class="bi bi-shuffle"></i> 
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-light mb-5">
  <div class="container">
    <div class="row">
      <div id="topics" class="<% if user_signed_in? %><% end %>">
        <% if @topics.any? && params[:q].present? %>
          <% @topics.each do |topic| %>
            <%= render topic %>
          <% end %>

        <% elsif @topics.any? %>
          <div class="row">
            <div class="col-lg-10 col-md-12 mx-auto p-3 px-4 bg-jumbo-yellow-light rounded-bottom shadow-sm">
                <p class="lead fw-normal p-0 text-dark">
                  Thanks for trying out <span class="fw-bolder">The Topicificator 9000</span>. You can use the search bar above to find a topic matching a word, or the number associated with that topic. Or you can have a topic randomly picked for you! Here are <span class="fw-bolder">four example topics</span>:
                </p>
            </div>
          </div>
          <% @topics.each do |topic| %>
            <%= render topic %>
          <% end %>
        <% else %>
            <div class="card bg-danger text-light text-center">
      <div class="p-5">
        <h1 class="display-4"><span class="fw-bold">No '<%= @q.title_or_searchable_number_cont %>' Topic Found</h1></span>
      </div>
    </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  

import Letterize from "https://cdn.skypack.dev/letterizejs@2.0.0";
var test = new Letterize({
      targets: "#animateMe"
    });

    test.listAll;
    for (var i = 0; i < test.listAll.length; i++) {
      test.listAll[i].addEventListener("mouseover", function(e) {
        e.target = anime({
          targets: e.target,
          duration: 100,
          translateX: anime.random(-10,10),
          translateY: anime.random(-10,10),
          rotate: anime.random(-10,10),
          opacity: 0.5
        });
      });

      test.listAll[i].addEventListener("mouseout", function(e) {
        e.target = anime({
          targets: e.target,
          duration: 3000,
          opacity: 1
        });
      });
    }


</script>