<div class="container-fluid py-0 bg-jumbo-teal-light bg-jumbo-teal">
  <div class="container my-0 py-0">
    <div class="row">
      <div class="col-md-7 mx-auto  bg-jumbo-teal text-light h-100 p-5">
        <h1 class="display-5 fw-semibold tracking-tighter pb-2">HUMBLE<span class="fw-bold tracking-wide">SEARCH</span> <span class="fw-light tracking-widest brand-accent-text-light"> ALPHA<span></h1>
        <p class="lead pb-3">
          Search through all of our recovery books by typing in keywords below. 
        <%= search_form_for @q do |f| %>
          <div class="input-group mb-3">
            <%= f.search_field :chapters_content_i_cont, class: "form-control", placeholder: "Type search terms here..." %>
            <%= button_tag class: "btn bg-jumbo-teal-light" do %>
            <i class="bi bi-search"></i>
            <span class="align-text-bottom ps-2">SEARCH</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5">
  <div class="container">
    <p style="color: green"><%= notice %></p>
    <% if params[:q].nil? %>
      <h1 class="display-4">Browse Books</h1>
    <% else %>
      <h1 class="display-4">Search Books</h1>
    <% end %>
  </div>
</div>

  <% if params[:q].nil? %>
  <div class="container">
    <div id="books" class="row row-cols-2 row-cols-md-2 g-2">
      <% @books.each do |book| %>
        <div class="col">
          <%= render book %>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="container-fluid bg-light py-5">
    <div class="container">
      <div class="row pt-4">
        <% @books.each do |book| %>
          <div class="bg-white rounded shadow p-5">
            <div class="bg-white rounded-top sticky-top sticky-book">
              <h2 class="w-100 text-center py-4"><span class="tracking-widest text-uppercase fw-light"><%= book.title %></span></h2>
            </div>
            <hr>
            <% book.chapters.each do |chapter| %>
              <% if chapter.content.include?(@q.chapters_content_i_cont) %>
                <div class="matching-chapter">
                  <div class="bg-white rounded-top sticky-top sticky-chapter">
                    <h3 class="w-100 text-center py-4"><strong  class="tracking-widest"><%= chapter.title %></strong></h3>
                    <hr>
                  </div>
                  
                  <% content_html = chapter.content.gsub(/(\d+:\d+)/, '</p><p class="p-isolate"><span class="text-secondary">\1</span>').html_safe %>
                  <% sanitized_content = sanitize(content_html, tags: %w(p br em strong), attributes: %w(style)) %>
                  <% fragment = Nokogiri::HTML::DocumentFragment.parse(sanitized_content) %>
                  <% fragment.css('p').each_with_index do |paragraph, index| %>
                    <% if paragraph.content.include?(@q.chapters_content_i_cont) %>

                      <%= link_to book_chapter_path(book, chapter, paragraph: index + 1), class: "read-chapter-link link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover" do %>
                        <div id="chapter_<%= chapter.id %>_paragraph_<%= index + 1 %>" class="matching-paragraph">
                          <% highlighted_content = paragraph.content.gsub(/#{@q.chapters_content_i_cont}/i, '<mark>\0</mark>').html_safe %>
                          <blockquote>
                            <%= raw(highlighted_content).gsub(/(\d+:\d+)/, '<span class="text-secondary">\1</span>').html_safe %>
                          </blockquote>
                        </div>
                      <% end %>
                      
                    <% end %>
                  <% end %>
                  <hr>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  </div>
  <div class="container">
    <div class="w-50 mx-auto py-5">
      <% if user_signed_in? %>
        <%= link_to new_book_path, class: "btn btn-lg btn-warning w-100 mx-auto" do %>
          <i class="bi bi-book-half"></i> <span class="align-text-bottom ps-2 fw-bold">ADD BOOK</span>
        <% end %>
      <% end %>
    </div>
  </div>


</div>
