<%= form_with(model: chapter, url: [@book, @chapter]) do |form| %>
  <% if chapter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
        <% chapter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.hidden_field :book_id, value: params[:book_id] %>
  </div>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>:
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :number, class: "form-label" %>:
    <%= form.number_field :number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>:
    <%= form.text_area :content, class: "tinymce", rows: 30 %>
  </div>

  <div>
    <%= form.submit "Save Chapter", class: "btn btn-primary w-100" %>
  </div>
<% end %>
<script src="https://cdn.tiny.cloud/1/h0tac75ra7khtgwu4bt7g93bw5ncz0aoreuc3aucc635kv7b/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '.tinymce',
  });
</script>