
<div class="container-fluid py-5 book-jumbotron">

  <h1 class="display-4 mt-4 text-center text-light fw-bolder"><%= @book.title %></h1>

  <% if user_signed_in? %>
    <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-lg btn-primary" %>
  <% end %>
   <p style="color: green"><%= notice %></p>
</div>
<div class="container">


  <div id="chapters" class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-4 mt-3 mx-auto">
    <% @book.chapters.each do |chapter| %>
    <div class="col">
      <div class="card text-bg-light mb-3 h-100">
        <div class="card-body">
          <span class="w-100 text-center align-middle">
            <h5 class="fw-bold ">
              <% if chapter.number > 0 %>
                <small class="text-body-secondary tracking-widest"> CHAPTER <%= chapter.number %></small><br>
              <% else %>
                <small class="text-body-secondary tracking-widest"> PREFACE</small><br>
              <% end %>
              <strong class="tracking-widest"><%= chapter.title %></strong>            
            </h5>
          </span>
          <div class="card-text card-chapter-text h-75 pb-3">
            <blockquote class="chapter-paragraph chapter-paragraph-sm ">
              <%= raw(chapter.content).gsub(/(\d+:\d+)/, '<lit>\1</lit>').truncate(300).html_safe %>
            </blockquote>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to book_chapter_path(chapter.book.id, chapter.id), class: "btn btn-success fw-bold w-100" do %>
          <i class="bi bi-book-half"></i> <span class="align-text-bottom ps-2">READ CHAPTER</span>
          <% end %>
        </div>
      </div>
    </div>

      
    <% end %>
  </div>

  <%= link_to "New chapter", new_book_chapter_path(params[:book_id]) %>
</div>