<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for(:page_title) || "| HUMBLEBOT |" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,800;1,900&display=swap" rel="stylesheet">
        
    <%= javascript_importmap_tags %>
    

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
  <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Theme included stylesheets -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet" crossorigin="anonymous">

    <script src="https://browser.sentry-cdn.com/7.98.0/bundle.feedback.min.js" integrity="sha384-NpOcpdAPzCsJu3aC74l3WEnozN+9J0mmJLmnzQu2mxr2t3XpLuaVKi6K+CVPjOG5" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="scroll-progress"></div>
    <div class="container-fluid bg-body-tertiary nav-container">

      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <span class="navbar-brand fw-bold brand-accent-text tracking-widest">HUMBLEBOT<span class="fw-semibold text-dark">.IO</span><span class="ps-2 fw-normal text-secondary tracking-normal">BETA <span class="align-baseline ps-0 fw-light">0.1.7</span></span></span>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fs-6"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex w-100">
              <li class="nav-item justify-content-start position-relative mt-0 pe-4 me-3">
                <%= link_to topics_url, class:"nav-link text-uppercase" do %>
                  <span class="me-3 <% if current_page?('/') || current_page?('/topics') %> fw-semibold <% end %>">Topicificator</span>
                  <span class="badge bg-success position-absolute ms-3 translate-middle top-50">
                    9000
                  </span>
                <% end %>
              </li>
              <li class="nav-item justify-content-start">
                <%= link_to readings_url, class:"nav-link text-uppercase" do %>
                  <span class="<% if current_page?('/readings') %> fw-semibold <% end %>"> Readings </span>
                <% end %>
              </li>
              <% if user_signed_in? %>

              <li class="nav-item justify-content-start">
                <%= link_to books_url, class:"nav-link text-uppercase" do %>
                  <span class="<% if current_page?('/books') %> fw-semibold <% end %>"> Books </span>
                <% end %>
              </li>

              <% end %>
              
            </ul>
              <div class="d-flex">
                <% if user_signed_in? %> 
                  <%= link_to new_reading_path, class:"btn btn-outline-info mx-3" do %>
                    <i class="bi bi-plus"></i>
                  <% end %> 
                  <%= link_to destroy_user_session_path, class:"btn btn-outline-danger" do %>
                    <i class="bi bi-door-open"></i> 
                  <% end %> 
                <% else %> 
                  <%= link_to new_user_session_path, class:"btn btn-outline-success" do %>
                    <i class="bi bi-door-closed"></i> 
                  <% end %>
                <% end %>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <%= yield %>

  </body>
</html>
